<a href="https://colab.research.google.com/github/2303A51434/python/blob/main/python%20training.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
s1 =input()
s2 =s1[::-1]
if s1 ==s2:
  print("palindrome:")
else:
  print("not a palindrome:")

121
palindrome:

In [ ]:
s1 =input()
s2 =""
for i in range (len(s1)-1,-1,-1):
  s2 = s2 +s1[i]
print(s2)
if s2 ==s1:
  print("palindrome:")
else:
  print("not a palindrome:")

madam
madam
palindrome:

In [ ]:
s = "bob"
print(s)

s = "alice"
age =25
city ="new york"
print(s,age,city)

bob
alice 25 new york

In [ ]:
s = input()
print(ord('a')-32)
s_list = list(s) # Convert the string to a list of characters
for i in range (len(s_list)):
  if i==0:
    s_list[0] =s_list[i].upper()
  elif s_list[i-1]== ' ' :
    s_list[i] =s_list[i].upper()
s = "".join(s_list) # Join the list back into a string
print(s)

suhas is bad boy
65
Suhas Is Bad Boy

In [ ]:
s =list(input())
for i in range (len(s)):
  if i ==0:
    # User's intent is unclear here, leaving as a comment
    pass

In [ ]:
#wap to check whether a str one is substring of string two
s1 =input()
s2 = input()

if s2 in s1 :
  print("yes it is a substring")
else:
  print("no it is not a substring")

pan
elephant
no it is not a substring

In [3]:
l = [10,30,100,2.5,"something"]

print(*l)
print(type(l))
l[0] =20
print(*l)
print(l[1:4])
print(l[-1])

10 30 100 2.5 something
<class 'list'>
20 30 100 2.5 something
[30, 100, 2.5]
something

In [4]:
l = [10,30,100,2.5,"something"]

print(*l)
print(type(l))
l[0] =20
print(*l)
print(l[1:4])
print(l[-1])
print(l[-2:-5:-1])

10 30 100 2.5 something
<class 'list'>
20 30 100 2.5 something
[30, 100, 2.5]
something
[2.5, 100, 30]

In [10]:
l1 = list (map(int,input,split()))
print(type(l1))
print(l1)

NameError: name 'split' is not defined

In [ ]:
l1 =list(input())
print(type(l1))